/* NProgress custom styles for Digiafriq */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(90deg, #ed874a, #d76f32);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ed874a, 0 0 5px #ed874a;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
